image: python:latest

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip
    - venv/

before_script:
  - python -V
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate

after_script:
    - bash <(curl -s https://codecov.io/bash) -f .coverage -t aef49e7e-2539-47b9-aaf8-268ca78482d8

test:
  script:
    - python setup.py test
    - pip install tox
    - tox -e py37
    - pip install codecov
    - pip install -r requirements.txt
    - pip install -e .
    - pytest --cov=./verbecc/
  artifacts:
    paths:
      - .coverage

run:
  script:
    - python setup.py bdist_wheel
  artifacts:
    paths:
      - dist/*.whl
