Cython==3.1.4
dataclass-wizard==1.0.0
EditorConfig==0.17.1
flake8==7.3.0
importlib_resources==6.4.5
iniconfig==2.1.0
joblib==1.4.2
jsbeautifier==1.15.4
lxml==6.1.0
lxml-stubs==0.5.1
mccabe==0.7.0
numpy==2.3.3
packaging==25.0
pluggy==1.6.0
pyaml==25.7.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.21.0
pytest==9.1.1
PyYAML==6.0.3
ruff==0.16.6
scikit-learn==1.7.2
scipy==1.16.2
six==1.17.0
threadpoolctl==3.6.0
typing_extensions==4.16.0
