Cython==3.1.4
importlib_resources==6.5.2
iniconfig==2.1.0
joblib==1.5.2
lxml==6.0.2
lxml-stubs==0.5.1
numpy==2.3.3
packaging==25.0
pluggy==1.6.0
pytest==8.4.2
scikit-learn==1.7.2
scipy==1.16.2
threadpoolctl==3.6.0
